<div class="w-full flex flex-col gap-3">
  <div class="mb-2 flex items-center justify-between gap-4">
    <h1 class="text-3xl font-semibold">Create a new list</h1>
    <%= link_to "back to lists", lists_path, class: "inline-flex items-center rounded-md bg-red-600 px-4 py-2 text-white hover:bg-red-900 transition" %>
  </div>

  <%= render "form", list: @list %>
</div>
