<div class="flex items-start gap-4">
  <div class="flex flex-col">
    <%= image_tag "Welcome_to.svg", class: "w-[400px]" %>
    <%= image_tag "Logo_red.svg", class: "w-[600px] -mt-[90px] -ml-[60px]" %>
  </div>

  <div class="flex flex-col gap-2 mt-[150px]">
    <% [
      ["Log a venue", new_log_path],
      ["Create a list", new_list_path],
      ["Explore venues", venues_path]
    ].each do |label, path| %>
      <div class="inline-block" style="filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2));">
        <div class="bg-white px-5 flex items-center w-[450px] h-[70px]" style="clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);">
          <%= link_to label, path, style: "color: #222222; text-decoration: none; font-size: 1.4rem; font-weight: bold; text-transform: uppercase;", onmouseover: "this.style.fontStyle='italic'", onmouseout: "this.style.fontStyle='normal'" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
