<div class="flex items-start gap-4">
  <div class="flex flex-col">
    <%= image_tag "Welcome_to.svg", class: "w-[400px]" %>
    <%= image_tag "Logo_red.svg", class: "w-[600px] -mt-[90px] -ml-[60px]" %>
  </div>

  <div class="flex flex-col gap-2 mt-[150px]">
    <% [
      ["Log a venue", new_log_path],
      ["My venues", logs_path],
      ["My lists", lists_path],
      ["Explore new venues", venues_path]
    ].each do |label, path| %>

      <% red_hover = ["Log a venue", "My venues"].include?(label) %>

      <div
        class="inline-block"
        style="filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2));"
      >
        <div
          class="<%= red_hover ? 'bg-[#C12743] p-[4px]' : '' %>"
          style="clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);"
        >
          <div
            class="bg-white px-5 flex items-center w-[450px] h-[70px]"
            style="clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);"
          >
            <%= link_to label, path,
              style: "color: #222222; text-decoration: none; font-size: 1.4rem; font-weight: bold; text-transform: uppercase;",
              onmouseover: (
                red_hover ?
                "
                  this.style.fontStyle='italic';
                  this.style.color='white';
                  this.parentElement.style.backgroundColor='#C12743';
                " :
                "
                  this.style.fontStyle='italic';
                "
              ),
              onmouseout: (
                red_hover ?
                "
                  this.style.fontStyle='normal';
                  this.style.color='#222222';
                  this.parentElement.style.backgroundColor='white';
                " :
                "
                  this.style.fontStyle='normal';
                "
              )
            %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
