<div class="flex flex-col">
  <h1>Welcome to</h1>
  <p><%= link_to "Log a venue", new_log_path %></p>
  <p><%= link_to "Create a list", new_list_path %></p>
  <p><%= link_to "Explore venues", venues_path %></p>
</div>

<%= image_tag "Logo_red.svg" %>
